.service {
    width: 100vw;
    height: 170vh;
    background-color: rgb(255, 254, 254);
     
}

 h1 {
    color: rgb(94, 50, 66);
   margin-left: 50px;
}


.service .img_container {
    background-color: rgb(208, 208, 223);
    width: 400px;
    height: 400px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 60px;

}

.service .img_container img {
    width: 400px;
    height: 300px;
    margin-top: 100px;
    border-radius: 20% 30%;
  
}

.service p{
    width: 450px;
    color: rgb(204, 144, 144);
    margin-left: 60px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.maincontainer {
    display:  flex;
    justify-content: space-around;
}


.description {
    margin-top: 130px;
    text-align: center;
}

.description h2 {
    width: 250px;
   
    margin-left: 20%;
    color: rgb(160, 86, 104);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.description p {
    width: 450px;
    color: rgb(131, 81, 108);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}