.downloadWrapper {
    display: flex;
    width: 100%vw;
    justify-content: center;
    align-items: center;
    /* background-color: aliceblue; */
    height: 60%;
    position: relative;
}

.downloadWrapper .downloadImg {
    
}

.downloadWrapper .downloadImg img {
    width: 500px;
}

.downloadWrapper h1 {
    width: 400px;
    color: rgb(156, 84, 124);
    text-align: center;
    height: 200px;
    padding-left: 50px;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.downloadWrapper p {
    position: absolute;
    top: 90%;
    right: 10%;
}


.downloadWrapper p strong {
    color: rgb(68, 185, 136);
    cursor: pointer;
}

.downloadImg legend {
    position: absolute;
    top: 90%;
    left: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}